.block {
  display: flex;
  align-items: center;
  gap: 15px;
  color: var(--main--dark--color);
}

.link {
  padding: 11px 24px;
  border-radius: 10px;
  background-color: var(--accent-yellow-color);
  border: none;
  font-weight: 500;
  transition: var(--bg-transition);
}

.link {
  text-decoration: none;
  font-size: 18px;
  color: inherit;
}

.linkBlue {
  background-color: var(--blue-color);
}
.link:hover {
  background-color: var(--accent-yellow-alt-color);
}
.linkBlue:hover {
  background-color: var(--blue-alt-color);
}

.link:global(.active) {
  font-weight: 600;
}
