.contact {
  padding: 55px 0 75px 0;
  background: url('../../img/contact/line.svg') no-repeat;
  background-position: center;
  background-size: contain;
}

.title {
  font-size: 36px;
  font-weight: 500;
  color: var(--main--dark--color);
  margin-bottom: 24px;
}

.subtitle {
  font-size: 20px;
  font-weight: 400;
  color: var(--main--dark--color);
  margin-bottom: 30px;
}
