.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: Inter;
  color: var(--main--dark--color);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -1px;
}

.logo span {
  color: var(--blue-color);
}
