.block {
  margin-bottom: 18px;
}

.input {
  width: 100%;
  height: 50px;
  padding-left: 18px;
  border-radius: 8px;
  border: 1px solid var(--blue-color);
  background-color: var(--main--dark--color);
  color: var(--main-white-color);
}

.input:focus {
  border: 1px solid var(--accent-yellow-color);
  box-shadow: 1px 1px 10px #c3a15e;
}

.btnRegister {
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  background-color: var(--accent-yellow-color);
  color: var(--main--dark--color);
  font-size: 14px;
  border: none;
  transition: var(--bg-transition);
}
.btnRegister:hover {
  background-color: var(--accent-yellow-alt-color);
}
