@import-normalize; /* bring in normalize.css styles */

@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600&display=swap);

:root {
  --blue-color: #3c9af1;
  --blue-alt-color: #6cb7fd;
  --accent-yellow-color: #efb94f;
  --accent-yellow-alt-color: #ffcb63;
  --main-white-color: #f9f9f9;
  --main--dark--color: #4f4f4f;

  --bg-transition: background-color 0.3s ease;
}

body {
  margin: 0;
  font-family: Montserrat;
  background-color: #f9f9f9;
}
html,
body {
  height: 100%;
  line-height: 1;
}

#root {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#root > main {
  flex: 1 1 auto;
}
a {
  text-decoration: none;
}

textarea:focus,
input:focus {
  outline: none;
}
input:-webkit-autofill {
  -webkit-box-shadow: none;
  -webkit-text-fill-color: #4f4f4f;
  background-color: #4f4f4f;
}

ul,
li {
  list-style: none;
}

.header {
  padding: 30px 0;
}
.container {
  margin: auto;
  max-width: 1370px;
  padding: 0 10px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
